<ion-header color="dark">
    <ion-toolbar color="dark">
        <ion-title color="light">
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-slides [options]="sliderOpts" *ngIf="datalocalService.noticias.length === 0">
        <ion-slide>

            <ion-label>No hay favoritos</ion-label>

        </ion-slide>
    </ion-slides>



    <app-noticias *ngIf="datalocalService.noticias.length > 0" [enFavoritos]="true" [noticias]="datalocalService.noticias"></app-noticias>


</ion-content>