<ion-header color="dark">
    <ion-toolbar color="dark">
        <ion-title color="light">
            Encabezados
        </ion-title>
    </ion-toolbar>


    <ion-segment scrollable mode="md" (ionChange)="cambioCategoria( $event )" color="primary">

        <ion-segment-button mode="md" *ngFor="let categoria of categorias" [value]="categoria">
            <ion-label color="dark" text-capitalize>{{ categoria }}</ion-label>
        </ion-segment-button>


    </ion-segment>


</ion-header>

<ion-content>

    <app-noticias [noticias]="noticias"></app-noticias>


    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>