<ion-header>
    <ion-toolbar color="dark">
        <ion-title color="light">
            JoséLópez's Noticias News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-noticias [noticias]="noticias"></app-noticias>


    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>